- name: Install Argo CD via Helm
  hosts: all
  become: true

  tasks:
    - name: Add Argo CD repo
      become: true
      become_user: k8s
      kubernetes.core.helm_repository:
        name: argo
        repo_url: "https://argoproj.github.io/argo-helm"

    - name: Install Argo CD
      become: true
      become_user: k8s
      kubernetes.core.helm:
        name: argocd
        chart_ref: argo/argo-cd
        release_namespace: argocd
        create_namespace: yes